

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato" sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
}

.header {
    height: 100vh;
    background-image: linear-gradient(to bottom,
        rgba(44, 62, 80, .9),
        rgba(127, 140, 141, .25)),
        url(./img/jon-flobrant-4056-unsplash.jpg);
    background-size: cover;
    background-position: center;    
}